/*-------- Global --------*/
@font-face {
	src: url(assets/fonts/CircularStd-Medium.ttf);
	font-family: CircularStd;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'CirlularStd', sans-serif;
	font-size: 1.3rem;
	background: white;
}

a {
	color: #333;
	text-decoration: none;
}
/*-------- Scroll bar --------*/
body::-webkit-scrollbar {
	width: 8px;
}
body::-webkit-scrollbar-thumb {
	background-color: #afafaf;
	border-radius: 5px;
}
div::-webkit-scrollbar {
	width: 8px;
}
div::-webkit-scrollbar-thumb {
	background-color: #afafaf;
	border-radius: 5px;
}

/*-------- Main --------*/
.container {
	max-width: 1100px;
	margin: auto;
	overflow: auto;
	padding: 0 8rem;
}

.main-header {
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 2rem;
}

.main-header h1 {
	font: 4rem;
	margin-bottom: 1rem;
	line-height: 1.2;
}

.main-header h1 span {
	color: #5ebed6;
}

.main-header p {
	font-size: 1.2rem;
	font-family: Arial, Helvetica, sans-serif;
}

/*-------- Items --------*/

img {
	width: 100%;
}

.card {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	background: #f8f8f8f1;
	margin-bottom: 3rem;
}

.card h3 {
	margin-bottom: 2rem;
}

.card > div {
	padding: 2rem;
}

.card:nth-child(even) img {
	order: 2;
}

.btn {
	display: inline-block;
	background: #333;
	color: white;
	padding: 0.8rem 1.8rem;
	margin-top: 2rem;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.8;
}

/*-------- Media Responsive --------*/
/* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
	.card {
		display: grid;
	}
	.container {
		padding: 0 4rem;
	}
	.card div {
		font-size: 1.3rem;
	}
}

/* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */

@media (min-width: 565px) and (max-width: 767px) {
	.card {
		display: block;
	}
	.container {
		padding: 0 3rem;
	}
	.card div {
		font-size: 1.2rem;
	}
}

/* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 490px
  */

@media (min-width: 320px) and (max-width: 564px) {
	.card {
		display: block;
	}
	.container {
		padding: 0 2rem;
	}
	.card div {
		font-size: 0.9rem;
	}
}
